@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-Regular.eot');
    src: url('../font/Stem-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-Regular.woff2') format('woff2'),
        url('../font/Stem-Regular.woff') format('woff'),
        url('../font/Stem-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stem Hairline';
    src: url('../font/Stem-Hairline.eot');
    src: url('../font/Stem-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-Hairline.woff2') format('woff2'),
        url('../font/Stem-Hairline.woff') format('woff'),
        url('../font/Stem-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-LightItalic.eot');
    src: url('../font/Stem-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-LightItalic.woff2') format('woff2'),
        url('../font/Stem-LightItalic.woff') format('woff'),
        url('../font/Stem-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-Bold.eot');
    src: url('../font/Stem-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-Bold.woff2') format('woff2'),
        url('../font/Stem-Bold.woff') format('woff'),
        url('../font/Stem-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-Italic.eot');
    src: url('../font/Stem-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-Italic.woff2') format('woff2'),
        url('../font/Stem-Italic.woff') format('woff'),
        url('../font/Stem-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-Medium.eot');
    src: url('../font/Stem-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-Medium.woff2') format('woff2'),
        url('../font/Stem-Medium.woff') format('woff'),
        url('../font/Stem-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-Light.eot');
    src: url('../font/Stem-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-Light.woff2') format('woff2'),
        url('../font/Stem-Light.woff') format('woff'),
        url('../font/Stem-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-BoldItalic.eot');
    src: url('../font/Stem-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-BoldItalic.woff2') format('woff2'),
        url('../font/Stem-BoldItalic.woff') format('woff'),
        url('../font/Stem-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Stem Extra';
    src: url('../font/Stem-ExtraLightItalic.eot');
    src: url('../font/Stem-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-ExtraLightItalic.woff2') format('woff2'),
        url('../font/Stem-ExtraLightItalic.woff') format('woff'),
        url('../font/Stem-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-Regular_1.eot');
    src: url('../font/Stem-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-Regular_1.woff2') format('woff2'),
        url('../font/Stem-Regular_1.woff') format('woff'),
        url('../font/Stem-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-Thin.eot');
    src: url('../font/Stem-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-Thin.woff2') format('woff2'),
        url('../font/Stem-Thin.woff') format('woff'),
        url('../font/Stem-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-MediumItalic.eot');
    src: url('../font/Stem-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-MediumItalic.woff2') format('woff2'),
        url('../font/Stem-MediumItalic.woff') format('woff'),
        url('../font/Stem-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Stem Extra';
    src: url('../font/Stem-ExtraLight.eot');
    src: url('../font/Stem-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-ExtraLight.woff2') format('woff2'),
        url('../font/Stem-ExtraLight.woff') format('woff'),
        url('../font/Stem-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('../font/Stem-Thin_1.eot');
    src: url('../font/Stem-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('../font/Stem-Thin_1.woff2') format('woff2'),
        url('../font/Stem-Thin_1.woff') format('woff'),
        url('../font/Stem-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

